  

  $phone: 360px;
  $tablet: 768px;
  $desktop: 1366px;
  $LGdesktop: 1920px;




body{
    background-color: rgb(122, 115, 115);
    color: white;
}

main{



  h2{
    font-size: 3em;
    text-align: center;
    padding-top: 40px;
    text-decoration: underline;
  }

  .flex-con{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


  .form-group input{
    width: 380px;

  @media screen and (max-width: $tablet){
      width:  150px;
      font-size: 12px;
    }

  @media screen and (min-width: $LGdesktop){
    width: 480px;
  }
    

  }

  .btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;

    button{
      padding: 15px;
      border-radius: 7px;
    }


  }



}
